@charset "UTF-8";
/* ⼩型設備（⼩型平板電腦和⼤型⼿機，767px及以下） */
@media only screen and (max-width:767px) {
    .KB2020begin h2{
        margin: 29% 5% 15%;
    }
    .KB2020banner p{
        margin: 3% 4% 0
    }
    .KB2020c p{
        margin: 0 4% 3%
    }
}
/* 中型設備（⼤型平板電腦，768px及以上） */
@media only screen and (min-width:768px) {
    .KB2020banner p{
        margin: 3% 4% 0
    }
    .KB2020c p{
        margin: 0 4% 3%
    }
}
/* ⼤型設備（筆記型電腦/桌機，992px及以上） */
@media only screen and (min-width:992px) {
    .KB2020banner p{
        margin: 3% auto 0
    }
    .KB2020c p{
        margin: 0 auto 3%
    }
}